.info
{
  margin:30rpx auto;
  width:90%;
  .title
  {
    font-size: 43rpx;
    letter-spacing: 4rpx;
    -webkit-text-stroke-width: 0.2px;
    // font-weight:500; /* 适中的加粗效果 */
    // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); /* 增加阴影效果 */
    // font-size: 16px; /* 设置适当的字体大小 */
  }
  .user
  {
    display: flex;
    align-items: center;
    margin:20rpx auto;
    .group
    {
      display: flex;
      align-items: center;
      font-size: 30rpx;
      margin-bottom: 60rpx;
      .name
      {
        margin-right: 20rpx;
      }
      .time
      {
        color:rgb(151, 150, 150);
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: -2rpx; /* 或其他单位，确保单位适用于你的开发环境 */
  background-color: #fff;
  z-index: 999;
  display: flex;
  height:100rpx;
  line-height: 100rpx;
  padding: 0 30rpx 0 30rpx;
  justify-content: space-between;
  align-items: center; /* 如果需要垂直居中对齐图标 */
  width: 100%;
  .user
  {
    display: flex;
    text-align: center;
    align-items: center;
    .avatar
    {
      background-color: #eee;
      margin-right:15rpx;
      border-radius: 50%;
      width:60rpx;
      height:60rpx;
      .avatar_detail
      {
        width:60rpx;
        height:60rpx;
        border-radius: 50%;
      }
    }
  }
  .text
  {
    position: relative;
    left:5rpx;
    font-size: 25rpx;
    bottom:5rpx;
  }
  .star
  {
    font-size: 30rpx;
  }
  .container_wrap
{
  display: flex;
  width:340rpx;
}
.icon-container {
  display: flex;
  align-items: center;
  color: #8a8a8a;
  margin-right: 24rpx;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32rpx; /* 设置图标大小 */
  margin-right: 6px; /* 调整图标与文本之间的间距 */
}

.info-text {
  font-size: 25rpx; /* 设置文本大小 */
}

.active
{
  color: red;
}

.custom-share-button
{
  position: relative;
  z-index: -2;
  left:-18rpx;
  width:90rpx;
  height:46rpx;
  font-size:23rpx !important;
  font-weight: lighter;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
  -webkit-text-stroke-width: 0.4px;
  text-align: start;
  color: #464343;
}
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.timer-section {
  text-align: center;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
}

.start-button {
  background-color: #4caf50;
}

.pause-button {
  background-color: #ff9500;
}

.reset-button {
  background-color: #f44336;
}

.bottom-section {
  text-align: center;
  font-size: 16px;
  color: #666;
}