.header{
  display: flex;
  align-items: center;
  padding :15rpx 0rpx;
.search-container{
  display: flex;
  align-items: center;
  width:80%;
  margin-left:15rpx;
  border:2rpx solid #fb752b;
  border-radius: 20rpx;
  .search-left{
    background-color: rgb(255, 255, 255);
    flex: 2;
    border-radius: 40rpx;
    padding-right: 40rpx;
  }
  .search-left image{
    width: 40rpx;
    height: 40rpx;
    padding: 10rpx 20rpx;
    vertical-align: middle;
  }
  .search-left input{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 88rpx);
  }
}
.search-button
{
  height:60rpx;
  width:100rpx;
  border-radius:20rpx ;
  background-color: #fa742b;
  text-align: center;
  line-height: 60rpx;
  color:#fff;
  margin-left:15rpx ;
}
}
.college
{
  display: flex;
  height:100rpx;
  text-align: center;
  line-height: 100rpx;
  font-size: 28rpx;
  align-items: center;
  .college_name
  {
    overflow: hidden; /* 隐藏溢出部分 */
    white-space: nowrap; /* 不换行 */
    text-overflow: ellipsis; /* 显示省略号 */
  }
  .avatar
  {
    vertical-align: middle;
    height:60rpx;
    width:60rpx;
    margin:0 20rpx;
    border-radius: 50%;
  }
}